<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'K2D', sans-serif;
    }
  </style>
</head>
<body>
  <input type="text" id="taskInput">
  {% csrf_token %}
  <button onclick="sendTask()">Отправить</button>
  <div id="taskList"></div>

  <script>
    function sendTask() {
      let taskText = document.getElementById('taskInput').value;
      fetch('http://127.0.0.1:8000/options/new_task', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify({ text: taskText })
      })
      .then(response => response.json())
      .then(data => {
        document.getElementById('taskInput').value = '';
      });
    }

    window.onload = function() {
      fetch('http://127.0.0.1:8000/options/list_task')
      .then(response => response.json())
      .then(data => {
        let taskList = document.getElementById('taskList');
        for (let key in data) {
          let task = data[key];
          let taskLine = document.createElement('div');
          taskLine.textContent = `${task.status}: ${task.text} - ${task.date}`;
          taskList.appendChild(taskLine);
        }
      });
    }
    function changeStatus(taskId) {
      let newStatus = prompt('Choose a new status: new, resolved, unresolved, abandoned');
      if (newStatus) {
        fetch('http://127.0.0.1:8000/options/change_task', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
          },
          body: JSON.stringify({ status: newStatus })
        })
        .then(response => response.json())
        .then(data => {
          // Logic to update displayed data after status change
        });
      }
    }
    
  

  function deleteTask(taskId) {
    fetch('http://127.0.0.1:8000/options/delete_task', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': getCookie('csrftoken')
      },
      body: JSON.stringify({ taskId: taskId })
    })
    .then(response => response.json())
    .then(data => {
      // Logic to update displayed data after task deletion
    });
  }

    // Function to get the CSRF token from the cookie
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  </script>
</body>
</html>